# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc

# Python
.venv/
__pycache__/
*.pyc.terraform/

#node
node_modules/
*.log
.DS_Store
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
